.user {
  border: 2px solid black;
  width: 28%;
  padding: 25px;
  margin: 37%;
  margin-top: 47px;
  padding-bottom: 12px;
  box-shadow: 0 0 100px 10px #00806e;
}
.user .submit-btn {
  border: 1px solid black;
  width: 27%;
  margin-top: 10px;
}
.user .text-field {
  width: 300px;
}
